*,
*::after,
*::before {
  transition: all ease 800ms;
}

.container-fluid {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -5;
}

.marquee {
  margin-top: -25rem;
  background-color: rgba(250, 235, 215, 0.484);
  width: 50%;
  position: absolute;
}

.black-stuff {
  background-image: url("images/pic-01.jpg");
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  filter: blur(15px);
}

.form-card {
  background: linear-gradient(-45deg, aliceblue 55%, black 40%);
  border-radius: 5px;
  padding: 15px 15px;
  width: 500px;
  height: 300px;
}

.form-wrapper {
  width: 40%;
}

.form-card .form-wrapper label {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.wrapper {
  display: flex;
  justify-content: space-between;
}

.wrapper div:first-of-type {
  width: 50%;
}

.wrapper form {
  width: 100%;
}

.wrapper form input,
.wrapper form i {
  border: none;
  border-bottom: 1.5px solid black;
  background-color: transparent;
  outline: none;
  margin-top: 0.8rem;
}

.one {
  text-align: left;
  font: 10px;
  position: absolute;
  margin-left: -40px;
}

/* label styles and classlist */

form label {
  position: absolute;
}

form .name-label {
  top: 12.8rem;
  margin-left: 1px;
}

form .email-label2 {
  top: 16.2rem;
  margin-left: 1px;
}

form .password-label2 {
  top: 18.8rem;
  margin-left: 1px;
}

form .password-label3 {
  top: 20.7rem;
  margin-left: 1px;
}

/* class lists */

form .active-name {
  top: 11.5rem;
  margin-left: 1px;
  font-weight: 600;
}

form .active-email2 {
  top: 15.2rem;
  margin-left: 1px;
  font-weight: 600;
}

form .active-password2 {
  top: 17.7rem;
  margin-left: 1px;
  font-weight: 600;
}

form .active-password3 {
  top: 19.5rem;
  margin-left: 1px;
  font-weight: 600;
}

/* end of class lists */

.wrapper form label:first-of-type {
  margin-top: 15px;
}

.wrapper form label:last-of-type {
  margin-top: 10px;
}

/* end of label styles and classlist */

.wrapper button {
  width: 70%;
  margin-top: 1rem;
  margin-left: 12px;
  border-radius: 20px;
  background-color: black;
}

/* end of forms and elements styles */

.div-2 {
  width: 40%;
  display: grid;
  align-items: top;
  gap: 0;
  align-items: normal;
}

.div-2 h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 20px;
  margin-bottom: -2rem;
  margin-top: 2rem;
  text-align: center;
  text-align: left;
  color: aliceblue;
}

.div-2 p {
  color: white;
  font-size: 15px;
  text-align: left;
}

.control {
  display: flex;
  justify-content: space-between;
}

.control:first-of-type i {
  margin-left: -17px;
}

.kd i {
  margin-left: -19px;
}
/* .control:first-of-type i, i:type['.yeah'] {
    margin-left: -19px;
} */

.form-wrapper > h1 {
  text-align: left;
  margin-left: 2.5rem;
  font-size: 30px;
  text-decoration: underline;
  color: black;
}
